@import url(nav-footer.css);
@import url(side-bar.css);
@import url(main.css);
@import url(toast.css);

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media only screen and (min-width: 1024px){

body{
    margin: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
    height: 100vh;
    gap: 5px 5px;
    
}
nav{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

aside{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: scroll;
}

section.add{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

section.edit{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    
}

footer{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}


}


@media only screen and (max-width: 1024px) {

    body{
        margin: 0;
        height: 100vh;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 0.5fr 4fr  0.5fr;
        height: 100vh;
        gap: 5px 5px;
        
    }
    nav{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    aside{
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        overflow-y: scroll;
    }
    
    section.add{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    
    footer{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    
}