aside{
    background: rgba(59, 149, 215, 0.15); 
}

.member-card{
  box-sizing: border-box;
    width: inherit;
    max-width: 35vh;
    max-height: 17vh;
    padding: 1vh;
    background: rgba(86, 92, 78, 0.1);
    border: 0.5px solid #565C4E;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    margin: 2vh;
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
    gap: 1vh;
}

.icon{
  height: 50%;
    width: 22%;
    border-radius: 100%;
    background: #BDBDBD;
  }
.icon h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 64px;
  align-items: center;
  text-align: center;
  color: #666363;
  margin: 0;
  }
.member-data{
  width: 73%; 
  }
.member-name{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  }
.member-details{
  width: inherit;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666363;
  margin: 0px;
  }

button.edit{
  width: 10vh;
  box-sizing: border-box;
  background: #D9D9D9;
  border: 1px solid #767373;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #666363;
  cursor: pointer;
  }

button.delete{
  width: 10vh;
  box-sizing: border-box;
  background: #DD5A5A;
  border: 1px solid #686868;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: inherit;
}




@media only screen and (max-width: 1024px) {

.member-card {
  max-width: 26vh;
  min-width: 23vh;
  min-height: 12vh;
  padding: 1vh;
  background: rgba(86, 92, 78, 0.1);
  border: 0.5px solid #565C4E;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin: 2vh;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  justify-content: end;
  align-content: center;
  gap: 1vh;
}

.icon {
  height: 39%;
  width: 23%;
  border-radius: 100%;
  background: #BDBDBD;
}

.icon h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 41px;
  align-items: center;
  text-align: center;
  color: #666363;
  margin: 0;
}

.member-data {
  width: 72%;
}

.member-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.member-details {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: #666363;
  margin: 0px;
}

button.edit {
  width: 6vh;
  box-sizing: border-box;
  background: #D9D9D9;
  border: 1px solid #767373;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  color: #666363;
  cursor: pointer;
}

button.delete {
  width: 7vh;
  box-sizing: border-box;
  background: #DD5A5A;
  border: 1px solid #686868;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: inherit;
}


}
